<launch>

  <!-- open_manipulator_controller -->

  <arg name="use_robot_name"         default="open_manipulator"/>

  <arg name="dynamixel_usb_port"     default="/dev/ttyUSB0"/>
  <arg name="dynamixel_baud_rate"    default="1000000"/>

  <arg name="control_period"         default="0.010"/>

  <arg name="use_platform"           default="true"/>

  <arg name="use_moveit"             default="false"/>
  <arg name="planning_group_name"    default="arm"/>
  <arg name="moveit_sample_duration" default="0.050"/>

  <group if="$(arg use_moveit)">
    <include file="$(find open_manipulator_controller)/launch/open_manipulator_moveit.launch">
      <arg name="robot_name"      value="$(arg use_robot_name)"/>
      <arg name="sample_duration" value="$(arg moveit_sample_duration)"/>
    </include>
  </group>

  <node name="$(arg use_robot_name)" pkg="open_manipulator_controller" type="open_manipulator_controller" output="screen" args="$(arg dynamixel_usb_port) $(arg dynamixel_baud_rate)">
      <param name="using_platform"       value="$(arg use_platform)"/>
      <param name="using_moveit"         value="$(arg use_moveit)"/>
      <param name="planning_group_name"  value="$(arg planning_group_name)"/>
      <param name="control_period"       value="$(arg control_period)"/>
      <param name="moveit_sample_duration"  value="$(arg moveit_sample_duration)"/>
  </node>


  <!-- open_manipulator_play_recorded_trajectory -->

  <arg name="robot_name"   default="open_manipulator"/>
  <arg name="usb_port"     default="/dev/ttyUSB0"/>
  <arg name="baud_rate"    default="1000000"/>
  <arg name="service_call_period"    default="0.010"/>
  <arg name="joint1_id"    default="11"/>
  <arg name="joint2_id"    default="12"/>
  <arg name="joint3_id"    default="13"/>
  <arg name="joint4_id"    default="14"/>
  <arg name="gripper_id"   default="15"/>
  <group ns="$(arg robot_name)">
    <node name="open_manipulator_gripper_precision_test"
               pkg="open_manipulator_master_slave"
               type="open_manipulator_gripper_precision_test"
               output="screen"
               args="$(arg usb_port) $(arg baud_rate)">
      <param name="service_call_period"       value="$(arg service_call_period)"/>
      <param name="joint1_id"                 value="$(arg joint1_id)"/>
      <param name="joint2_id"                 value="$(arg joint2_id)"/>
      <param name="joint3_id"                 value="$(arg joint3_id)"/>
      <param name="joint4_id"                 value="$(arg joint4_id)"/>
      <param name="gripper_id"                value="$(arg gripper_id)"/>
    </node>
  </group>

</launch>
